<h2>Add A Book To The System</h2>
<div class="form-group">
<form class="" action="/catalog" method="post">
  <label for="">Book Title:</label>
  <input type="text" name="book_title" value="" required>
  <label for="">Book Description:</label>
  <input type="text" name="book_desc" value="" required>
  <button type="submit" name="button">Add Book</button>
</form>
</div>


<div class="container">
  <% if @catalog.any? %>
  <ul>
    <% @catalog.each do|book|%>
      <li><a href = "/catalog/<%=book.title%>"><%= book.title %></a></li>
    <%end%>
  </ul>
  <% end %>
</div>
