<div class="form-group">
<form class="" action="/checkouts" method="post">
  <label for="">Libary Patron Name:</label>
  <input type="text" name="user_name" value="">
  <label for="">Book ID:</label>
  <input type="text" name="book_id" value="">
  <button type="submit" name="button">Checkout</button>
</form>
</div>

<!-- down here is where the checkout list goes -->
