<h2>Create A New User</h2>
<div class="form-group">
<form class="" action="/users" method="post">
  <label for="">Library Patron Name:</label>
  <input type="text" name="user_name" value="">
  <button type="submit" name="button">Add User</button>
</form>
</div>

<h2>View User History</h2>
<div class="form-group">
<form class="" action="/user_history" method="post">
  <label for="">Library Patron Name:</label>
  <input type="text" name="user_name" value="">
  <button type="submit">View</button>
</form>
</div>

<% if @books_checked_out != nil %>
  <h2>Books Checked Out:</h2>
  <ul>
    <%@books_checked_out.each do |book| %>
    <li>book.title</li>
    <% end %>
  </ul>
<% end %>
