<h2>Create A New User</h2>
<div class="form-group">
<form class="" action="/users" method="post">
  <label for="">Library Patron Name:</label>
  <input type="text" name="user_name" value="">
  <button type="submit" name="button">Add User</button>
</form>
</div>

<h2>View User History</h2>
<div class="form-group">
<form class="" action="/users/:user_id" method="get">
  <label for="">Library Patron Name:</label>
  <input type="text" name="user_name" value="">
  <button type="submit" name="button">Add User</button>
</form>
</div>
